.min-w-50px {
  min-width: 50px;
}

.min-w-75px {
  min-width: 75px;
}

.min-w-125px {
  min-width: 125px;
}

.row-gap-2 {
  row-gap: 0.5rem !important;
}

.col-gap-2 {
  column-gap: 0.5rem !important;
}
