$sizes: 50px, 75px, 100px, 125px, 150px;

@each $size in $sizes {
  .min-w-#{$size} {
    min-width: $size;
  }

  .max-w-#{$size} {
    max-width: $size;
  }

  .w-#{$size} {
    width: $size;
  }

  .min-h-#{$size} {
    min-height: $size;
  }

  .max-h-#{$size} {
    max-height: $size;
  }

  .h-#{$size} {
    height: $size;
  }
}

.row-gap-2 {
  row-gap: 0.5rem !important;
}

.col-gap-2 {
  column-gap: 0.5rem !important;
}
