.min-w-50px {
  min-width: 50px;
}

.min-w-75px {
  min-width: 75px;
}

.min-w-125px {
  min-width: 125px;
}

.min-w-150px {
  min-width: 150px;
}

.max-w-50px {
  max-width: 50px;
}

.max-w-75px {
  max-width: 75px;
}

.max-w-125px {
  max-width: 125px;
}

.max-w-150px {
  max-width: 150px;
}

.row-gap-2 {
  row-gap: 0.5rem !important;
}

.col-gap-2 {
  column-gap: 0.5rem !important;
}
